<?xml version="1.0" encoding="UTF-8" ?>
<!--
  status: log4j2 内部日志记录
  monitorInterval: 定期检查应用配置文件时间间隔
-->
<Configuration status="OFF" monitorInterval="1800" strict="true" schema="Log4J-V2.2.xsd">
    <Properties>
        <Property name="LOG_HOME" >/WEB-INF/logs</Property>
        <Property name="FILE_NAME">learn-spring</Property>
    </Properties>
    <Appenders>
        <!-- 配置控制台输出日志 -->
        <Console name="console" target="SYSTEM_OUT">
            <!-- 配置日志在控制台输出模式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%logger{36}]  %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
          filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>
    <Loggers>
       <Root level="debug">
         <AppenderRef ref="console"/>
         <AppenderRef ref="RollingFile"/>
       </Root>
    </Loggers>
</Configuration>
